.navbar{
    justify-content: center;
      background: @darkcolor;
    .title{
        color: @basefontcolor;
        font-size: 1.5rem;
        align-items: center;
        display: flex;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 0 1px 0 darken(@basefontcolor,20%),
                     0 2px 2px fadeout(@basefontcolor,50%)
                     
    }
}