<section>
    <lable>Select DateTime:</lable>
    <input placeholder="Date Time" type="datetime">
    <button class ="btn btn-default"> Confirm</buttom>
</section>
<div class="roads">
    <ul>
    <% _.each(items,function(item){ %>
        <li><a href="#" class='<%= item.class%>' ><%= item.value %></a></li>
    <% }) %>
    </ul>
</div>
<section>
    <div class="date"></div>
    <div class="time">
        <span class="hour"></span>
        <span class="spliter"></span>
        <span class="min"></span>
    </div>
</section>