.focusText {
  font-size: 15px;
  text-anchor: middle;
  alignment-baseline: middle;
}
.focusLine {
  stroke: yellowgreen;
  stroke-width: 2;
}
.focusRect {
  fill: #e6e6e6;
}
.focusRectLine {
  stroke: #555;
  stroke-width: 1;
}
