*{
    box-sizing: content-box
}
.app{
    overflow: hidden;
    z-index: 1
}

@import "../../Jigsaw/Component/base.less";
@import "../../Jigsaw/Component/Loader/CircleLoader.less";
@import "./Navbar/VicroadNavBar.less";
@import "../../Jigsaw/Component/DropList/DropList.less";
@import "./Panal/SimulatorPanal.less";
@import "./Map/map.less";
@import "./Chart/chart.less";
@basecolor:#fff;
@basefontcolor:#333333;
@basebordercolor:gray;
@darkcolor:#3b5c78;
@lightcolor:#3f92db;
@busybackground:fadeout(@basecolor,30%);
// @import "./Chart/chart.less";
.progressContainer{
    background: fadeout(@darkcolor,30%);
    .linecolor{
        stroke:green
    }
    .texts{
        fill:#Fff
    }
}

.vicroadnavbar{
    z-index: 11;
}
.side{
    z-index: 10
}
.map{
    z-index: 9;
}
.timeSlider{
    z-index: 12
}
.porgressLoaderContainer{
    z-index: 13
}
@import (less) "../../../node_modules/font-awesome/css/font-awesome.css";
@import (less) "../../../node_modules/air-datepicker/dist/css/datepicker.min.css";
@import (less) "../../../node_modules/leaflet/dist/leaflet.css";
