@import "../../../Jigsaw/Component/Panal/dragpanal.less";
@maincolor:darken(@darkcolor,5%);
.timeSlider{
   background: @maincolor;
   aside{
        background:@maincolor;
   }
   .content{
          border-top:darken(@darkcolor,5%) .5rem solid;
         background: linear-gradient(220deg,lighten(@darkcolor,10%),lighten(@darkcolor,0%),lighten(@darkcolor,5%));
         border-bottom: @maincolor .2rem solid;
         animation: sharkbackground 10s ease 1s infinite ;
        background-position:0% 44%;
        background-size:300%;
      }
   .focusText {
        font-size: 1.2rem;
        fill:contrast(@darkcolor)
   }
   .axis text{
       fill:contrast(@darkcolor)
   }
   .axisBackground{
       fill:  @maincolor
   }
   .timeAdjuster{
       .focusLine{
        stroke:contrast(@darkcolor);
       }
       .focusRect{
           fill: @maincolor;
       }
       .focusRectLine{
            stroke: contrast(@darkcolor);
        }
   } 
}
