@import "../../BlueDark/Panal/dragpanal.less";
.timeSlider{
   background: #103444;
   aside{
        background: #103444;
   }
   .content{
          border-top:#103444  .5rem solid;
         background:  linear-gradient(30deg, #001533 30%, #103444 50%, #001533 70%);
      }
   .focusText {
        font-size: 1.2rem;
        fill:#fff
   }
   .axis text{
       fill:#fff
   }
   .axisBackground{
       fill: #103444
   } 
}