.panel {
  fill: transparent;
}
.axisBackground {
  fill: red;
}
.focusText {
  font-size: 15px;
  alignment-baseline: middle;
}
.rightSide {
  text-anchor: start;
}
.leftSide {
  text-anchor: end;
}
.focusLine {
  stroke: yellowgreen;
  stroke-width: 2;
}
.focusRect {
  fill: #e6e6e6;
}
.focusRectLine {
  stroke: #555;
  stroke-width: 1;
}
