.btn{
    display: inline-block;
    padding: .1rem .3rem;
    margin-bottom: 0;
   
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default{
    background: #001533;
    color:#fff;
    border-color:#8c8c8c;
}
.btn-default:hover{
      background: #0b7ca8;
}
.btn-disable{
    opacity: .6;
    pointer-events: none;
    background: #4e5052
}
.btn-active{
     background: #0b7ca8;
}