@import "../../../Jigsaw/Component/Bar/NavBar";
.vicroadnavbar{
    display: flex;
    background: @darkcolor;

    .nav-dropdown{
        .btn{
            height: 3rem;
            padding: 0rem .2rem;
            font-size: 1.2rem;
            border-top: 0px;
            border-bottom: 0px;
            border-radius: 0px;
        }
    }
}