.overview-component {
    background: rgba(0,0,0,0);
    .overview-panal {
        background: @panel-color;
        text-align: center;
        .title-panel {
            margin: 1rem 1rem 1.5rem 1rem;
        }
        >content {
            display: flex;
            justify-content: center;
            >.index-panel {
                margin: 1rem;
            }
        }
    }
    .bus-panal {
        margin: 1rem;
        background: rgba(0,0,0,.3);
        text-align: center;
        .title-panel {
            margin: 1rem 1rem 1.5rem 1rem;
        }
        >content {
            .tile{
                background: @panel-color;
                .tile-title{
                    margin: .5rem;
                }
            }


        }
        &.active{
             .title-with-underline::after{
               background: @active-color;
             }
        }
    }
}